
body {
    /*background-image: url("seanground.jpg");*/
	background-color: #000000;
	background-size: cover;
}

#twitpic {
	width: 120px;
	height: 120px;
}

#pagewrap {
	width: 100%;
	background-color: #ffffff;
}

#scroller {
	position: relative;
	width: 100%;
	height: 320px;
	margin: 0 auto;
}
#scroller .innerScrollArea {
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
 }
 
#scroller ul {
	padding: 0;
	margin: 0;
	position: relative;
}

#scroller li {
	padding: 0;
	margin: 0;
	list-style-type: none;
	position: absolute;
}

#bannercontent {
	white-space: nowrap;
}

#mainbanner {
	height: 120px;
	width: 100%;
	background-color: #3f3f3f;
}

#footer {
	background-color: #ffffff;
}

#mainbody {
	height: 1472px;
	width: 2136;
	background-image: url("seanground2.jpg");
}

#divider {
	height: 10px;
	background-color: #000000;
}
